@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald2";
    src: url("fonts/Oswald-Medium.ttf") format("truetype");
}


*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --background: black;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(39, 37, 37);

}



.container {
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    background-color: lightblue;
    align-content: center;
    align-items:center;
    
}

.vcard {
    width: 90%;
    height:60%;
    display:flex;
    margin:auto;
    padding:1px;
    border-style: solid;
    border-color: white;
    border-width: 10px; 
    background-color: yellow;
    flex-direction:column;

}

.vcard-row1{
    width: 100%;
    height:80%;
    display:flex;
    background-color: pink;
    padding:1px;
    justify-content: space-around;
    align-content:center
}
.row1-1 {
    height: 100%;
    width: 30%;
    padding:5%;
    background-color: green;
    margin: auto;
}
.row1-2 {
    height: 100%;
    width: 30%;
    padding:5%;
    background-color: green;
    margin: auto;
}
.row1-3 {
    height: 100%;
    width: 10%;
    padding:5%;
    background-color: green;
    margin: auto;
}
.row1-4 {
    height: 100%;
    width: 30%;
    padding:5%;
    background-color: green;
    margin: auto;
}
.vcard-row2{
    width: 100%;
    height:20%;
    display:flex;
    padding:1px;
    background-color:rgb(14, 48, 197);
    justify-content: space-around;
    align-content:center
}
.vcard-row2 > div{
    
    margin: auto;

    background-color: aqua;
    flex-direction: row;
}




